#footer
  .width#bg
    %img{:src => 'images/logo.gif'}
    %ul
      %li
        = link_to('Sitemap', '#')
      %li
        = link_to('Register', '#')
      %li
        = link_to('opensourcetemplates.org', 'http://www.opensourcetemplates.org')
      %li
        = link_to('studio7designs.com', 'http://www.studio7designs.com')