= partial 'layout/header'
.width#menu
  %ul
    %li
      %a{:href => '', :onfocus => 'blur()'}
        %span.title Projects
        %span.desc View the various projects I'm working on.
    %li
      %a{:href => '', :onfocus => 'blur()'}
        %span.title Webcam
        %span.desc Spy on me while I plot world domination.
    %li
      %a{:href => '', :onfocus => 'blur()'}
        %span.title Resume
        %span.desc The lives I've touched in the business world.
    %li
      %a{:href => '', :onfocus => 'blur()'}
        %span.title Personal Feeds
        %span.desc The rss feeds that have given me reason to follow.
#page
  .widthPad#columns
    %div.floatLeft.width73
      = catch_content :for_layout
    = partial 'layout/rightmenu'
= partial 'layout/footer'